* {
    box-sizing: border-box;
}

body {
  text-align: left;
  font-family: 'Roboto';
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  color: #ebeff0;
  font-size: 16px;
}

.row:after,
.clearfix {
  content: "";
  display: table;
  clear: both;
}

/*///////////////////////////////////////////////////
                 Container
///////////////////////////////////////////////////*/

.container { margin: 0 auto; }




@media (min-width: 768px) {
  .container {
    max-width: 750px;
    margin: 0 auto;
  }
}

@media (min-width: 992px){
  .container { max-width: 970px; }

}

/*///////////////////////////////////////////////////
                 Grid
///////////////////////////////////////////////////*/

.col-xs-12 { width: 100%; }

@media (min-width: 768px) {
  .greeting { margin-top: 50px; }

  .row {
    margin-left: -16px;
    margin-right: -16px;
  }

  .col-sm-4 {
    width: 33.3333%;
    float: left;
    padding-left: 16px;
    padding-right: 16px;
  }

  .col-sm-6 {
    width: 50%;
    float: left;
    padding-left: 16px;
    padding-right: 16px;
  }
  .col-sm-8 {
    width: 66.6666%;
    float: left;
    padding-left: 16px;
    padding-right: 16px;
  }

}
@media (min-width: 992px) {

  .col-md-4 {
    width: 33.3333%;
    float: left;
    padding-left: 16px;
    padding-right: 16px;
  }

  .col-md-6 {
    width: 50%;
    float: left;
    padding-left: 16px;
    padding-right: 16px;
  }
  .col-md-8 {
    width: 66.6666%;
    float: left;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/*//////////////////////////////////////////
                 Utils
//////////////////////////////////////////*/

.text-left   { text-align: left;   }
.text-right  { text-align: right;  }
.text-center { text-align: center; }
.text-uc     { text-transform: uppercase; }

/*///////////////////////////////////////////////////
                      Typography
///////////////////////////////////////////////////*/

h1 { font-size: 50px; }
h2 { font-size: 28px; }
h3 { font-size: 17px; }
p  { font-size: 12px; }

.stat1,
.stat2 { font-size: 30px; }

.active-month { font-size:24px; }

h1,
h2,
.media-body h3,
p,
button,
.stat1,
.stat2 { font-weight: 300; }

h3,
li { font-weight: 500; }

.media-left {
  font-style: italic;
  font-family: Georgia;
}

h1,
h2,
.media-body h3,
p,
li { color: #ebeff0; }

h3 { color: #849baa; }

@media (min-width: 768px) {

  h1 { font-size: 90px; }
  h2 { font-size: 37px; }
  h3 { font-size: 21px; }

  p,
  button { font-size: 13px; }

  .media-left { font-size: 19px; }

  .stat1,
  .stat2  { font-size: 37px; }

  li { font-size: 17px; }

  .active-month { font-size: 25px; }

  h3 { margin-bottom: 25px; }
}

@media (min-width: 992px) {

  h1 { font-size: 130px; }

  h2,
  .stat1,
  .stat2 { font-size: 45px;  }

  h3 { font-size: 26px;  }

  p,
  button { font-size: 14px; }

  .event_time { font-size: 22px; }

  li { font-size: 19px; }

  .active-month { font-size: 29px; }
}

h1,
h2,
h3,
h4,
h5,
h6,
p  { margin-top: 0; }

h1 { margin-bottom: 57px; }

h2,
p  { margin-bottom: 30px; }

h3 { margin-bottom: 18px; }
ul { margin-bottom: 29px; }
header { margin-bottom: 35px; }
main   { margin-bottom: 49px; }
section{ margin-bottom: 32px; }

/*///////////////////////////////////////////////////
                 media
///////////////////////////////////////////////////*/

.media:first-child { margin-top:0; }

.media-body,
.media-left {
  display: table-cell;
  vertical-align: top;
}

.media-left { padding-right: 10px; }

.event_time {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-color: #91eebc;
  padding: 5px;
  padding-bottom: 11px;
  margin-right: 20px;
}


@media (min-width: 768px) {
  .media-body,
  .media-left {
    display: inline-block;
  }
  .event_time {
    display:inline-block;
    margin-bottom: 30px;
  }
}

/*///////////////////////////////////////////////////
                 month-selection
///////////////////////////////////////////////////*/

ul {
  transform:translate(-88%, -50%) ;
  white-space: nowrap;
  padding: 0;
}

li {
  padding-left: 10px;
  color: #ebeff0;
  opacity: 0.5;
}
.your-month .active-month {
  padding:5px;
  border-bottom: 4px solid #96edb7;
  opacity: 1;
}
@media (min-width: 768px) {

  ul { transform:translate(-59%, -50%) ; }
}

@media (min-width: 992px) {

  ul { transform:translate(-52%, -50%) ; }
}
/*///////////////////////////////////////////////////
            Tasks
//////////////////////////////////////////////////*/

.tasks h3:before {
  display:inline-block;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: -11px;
  content: "";
}
.completed-task h3:before { background: #468fb7; }

.outstanding-task h3:before { background:#a0efbe; }

.label,
.completed,
.outstanding,
li { display:inline-block; }

.label {
  padding-left: 0.625em;
  padding-right: 0.938em;
}

.stat1 { color:#91e6b3; }
.stat2 { color:#468db4; }

@media (min-width: 768px) {

  .label {
    text-align:right;
    display:block;
    padding: 0;
  }
  .tasks h3:before { margin-left: -13px; }
}

@media (min-width: 992px) {
  .tasks h3:before { margin-left: -10px; }
}

/*///////////////////////////////////////////////////
               Button
/////////////////////////////////////////////*/
button {
  padding-left:104px;
  padding-right: 103px;
  padding-bottom: 13px;
  padding-top: 12px;
  margin-bottom: 26px;
  border-style: solid;
  border-color: #c8d0d4;
  background-color: transparent;
  color: #97acbb;
  width: 100%;
}

@media (min-width: 768px) {
  button {
    padding-left:30px;
    padding-right: 30px;
    width:auto;
  }
}

/*/////////////////////////////////////////////
                   Header
/////////////////////////////////////////////*/

.logo {
  margin-top: 35px;
  margin-bottom: 35px;
}

hr {
  height: 2px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #97acba;
}

@media (min-width: 768px) {
  .logo { float: right; }
}

@media (min-width: 768px) {

  .current-time {
    border-right-style: solid;
    border-right-width: 5px;
    margin-right: 5px;
    border-color: #91eebc;
  }
}





